
<div>
<input #testInput type="text">

<button (click)="onInput(testInput.value)">Show input value!</button>
</div>

<h4>{{inputtedValue}}</h4>

<p></p>
<p></p>
<button (click)="showLoginForm()">Show Login Form</button>
<p></p>
<p></p>
<button (click)="showRegisterForm()">Show Register Form</button>
<p></p>
<p></p>
<form  *ngIf="formLogin">
  <label>
    E-mail:
    <input type="text">
  </label>

  <label>
    Password:
    <input type="text">
  </label>
</form>

<p></p>
<p></p>

<form *ngIf="formRegister">

  <label>
    Name:
    <input type="text">
  </label>

  <label>
    E-mail:
    <input type="text">
  </label>

  <label>
    Password:
    <input type="text">
  </label>

</form>

<p></p>
<p></p>
<button (click)="showHouses()">Show All Houses</button>

<div *ngIf="housesList">
<div *ngFor="let house of houses">
  <p></p>
  City: {{house.city}}
  Street: {{house.street}}
  Square: {{house.square}}
  Price: {{house.price}}
</div>
</div>
<p></p>
<p></p>

<div>
  <label>
    City:
    <input #cityInput type="text">
  </label>

  <button (click)="cityFinder(cityInput.value)">Show houses!</button>
</div>
{{findedHouses | json}}


