<div>
  <input #testInput type="text" />
  <button (click)="onInput(testInput.value)">Show input value!</button>
</div>
<h4>{{ inputtedValue }}</h4>
<br />

<!--Show full info-->
<button (click)="showHouses()">Show All Houses</button> <br />

<app-show-full-info *ngIf="showHousesList" [houses]="houses" [housesMap]="housesMap"></app-show-full-info>

<div>
  <label>
    City:
    <input #cityInput type="text" />
  </label>

  <button (click)="cityFinder(cityInput.value)">Show houses!</button>
</div>
{{ foundHouses | json }} <br />

<button (click)="showLoginForm()">Show Login Form</button> <br />
<button (click)="showRegisterForm()">Show Register Form</button> <br />

<!--Form Registration User-->
<app-user-register-form *ngIf="formRegister" (addNewUser)="addNewUserToList($event)"></app-user-register-form>

<!--Form Login User-->
<app-user-login-form *ngIf="formLogin" (loginUser)="sendLoginForm($event)"></app-user-login-form>
<p *ngIf="loginInfo">{{ loginInfo }}</p>

<!--Form Add New House-->
<app-add-new-house (addNewHouse)="addNewHousetoList($event)"></app-add-new-house>

{{ 9000 | convert: 24.2 }}
